# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log

# Ignore dotenv environment file
.env

# Ignore compiled binary files
*.exe
*.dll
*.so
*.dylib

# Ignore compiled object files
*.o

# Ignore development and temporary files
.vscode/
.DS_Store
Thumbs.db
.cache/
.idea/
.nyc_output/
coverage/
tmp/
build/
dist/